<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.tnt.pt.repository.dms.UserDao">
	
	<select id="findByLoginName" parameterType="String" resultType="User">
		 select * from dms.V_PT_USER_PRI where userName = #{userName} and password =#{pwd} and rownum = 1
	</select>
	
</mapper> 
